.sectionDetail {
  height: 100vh;
  background-color: #e9d5da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  padding: 90px;

  @media all and (min-width: 768px) {
    padding: 120px;
  }

  @media all and (min-width: 1200px) {
    padding: 0;
  }

  &__posterDetail {
    width: 60%;
    padding: 20px 0;

    @media all and (min-width: 768px) {
      width: 40%;
    }

    @media all and (min-width: 1200px) {
      width: 18%;
    }
  }

  &__titleDetail {
    color: #a58147;
    font-weight: 700;
    line-height: 20px;
  }
  &__quoteDetail {
    color: #9d535363;
  }
  &__directorDetail {
    color: #a58147;
    font-weight: 700;
    padding-bottom: 10px;
  }
}

.arrow {
  width: 20%;

  @media all and (min-width: 768px) {
    width: 16%;
  }

  @media all and (min-width: 1200px) {
    width: 10%;
  }
}

.arrow:hover {
  transform: scale(1.5);
}

.directorName {
  color: #9d535363;
}

.linkDetail {
  text-decoration: none;
  color: #9d5353;
  font-weight: 600;
}

.linkDetail:hover {
  text-decoration: underline;
}
