.resetButton {
  background-color: #a58147;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px dashed #ede6db;
  color: #ede6db;
  cursor: pointer;
}

.resetButton:hover {
  color: #9d5353;
  background-color: #ede6db;
  font-weight: 600;
  transform: scale(1.1);
}
